.calendar-page{
    /* position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    height: 90px;
    z-index: 9; */
}
.navbar{
    height: 100%;
    position: relative;
    border-bottom: 1px solid #ebebeb;
}
.navbar-moreoutline{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -14.5px;
}