.footer-list{
    height: 46px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.list-item{
    flex: 1;
    
}
.list-item-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon{
    font-size: 18px;
}
.list-item {
    color: #000;
}
/* .list-item .icon{
    color: #000;
} */
.active{
    color:red;
}